<section class="eight-block">
    <div class="content-1">
        <h2>give us a good news</h2>
        <form class="contact-form">
            <div>
                <input type="text" id="contact-name"  required>
                <label for="contact-name">Name</label>
            </div>
            <div>
                <input type="text" id="contact-email"  required>
                <label for="contact-email">Email</label>
            </div>
            <div>
                <input type="text" id="contact-object"  required>
                <label for="contact-object">Subject</label>
            </div>
            <div>
                <textarea id="contact-text" required></textarea>
                <label for="contact-text">Your message</label>
            </div>
            <button class="button">Submit</button>
        </form>
    </div>
    <div class="content-2">
        <h2>our happy client</h2>
        <div class="clients">
            <img src="/images/test/client1.png" alt="client 1">
            <img src="/images/test/client2.png" alt="client 2">
            <img src="/images/test/client3.png" alt="client 3">
            <img src="/images/test/client4.png" alt="client 4">
            <img src="/images/test/client5.png" alt="client 5">
            <img src="/images/test/client6.png" alt="client 6">
            <img src="/images/test/client7.png" alt="client 7">
            <img src="/images/test/client8.png" alt="client 8">
            <img src="/images/test/client9.png" alt="client 9">
            <img src="/images/test/client10.png" alt="client 10">
        </div>
    </div>
</section>