<section class="four-block">
    <div class="content">
        <h2>Expertise</h2>
        <span class="lorem">Lorem ipsum dolor sit amet proin gravida nibh vel velit</span>
        <hr class="exp-hr">
        <div class="exp-row">
            <div class="exp-col">
                <img src="/images/test/pc.png" alt="icon">
                <h5>web design & development</h5>
                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean</p>
            </div>
            <div class="exp-col">
                <img src="/images/test/draw.png" alt="icon">
                <h5>branding identity</h5>
                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean</p>
            </div>
            <div class="exp-col">
                <img src="/images/test/mobile.png" alt="icon">
                <h5>mobile app</h5>
                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean</p>
            </div>
        </div>
        <div class="exp-row">
            <div class="exp-col">
                <img src="/images/test/circle_graph.png" alt="icon">
                <h5>search engine optimization</h5>
                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean</p>
            </div>
            <div class="exp-col">
                <img src="/images/test/gamepad.png" alt="icon">
                <h5>game development</h5>
                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean</p>
            </div>
            <div class="exp-col">
                <img src="/images/test/love.png" alt="icon">
                <h5>made with love</h5>
                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean</p>
            </div>
        </div>
    </div>
</section>