<header id="content">
    <div class="content">
        <nav>
            <div class="logo">
                <img src="/images/test/icon.png" class="main-icon" alt="icon">
                tajam
            </div>
            <div class="menu">
                <span>home</span>
                <span>about</span>
                <span>expertise</span>
                <span>teams</span>
                <span>works</span>
                <span>people say</span>
                <span>contact</span>
            </div>
        </nav>
        <div class="dots">
            <input type="radio" id="page1" checked name="pages" />
            <label onclick="st(1);" for="page1"></label>
            <input type="radio" id="page2" name="pages" />
            <label onclick="st(2);" for="page2"></label>
            <input type="radio" id="page3" name="pages" />
            <label onclick="st(3);" for="page3"></label>
            <input type="radio" id="page4" name="pages" />
            <label onclick="st(4);" for="page4"></label>
            <div class="karusel">
                <div class="card one" id="one-card">
                    <div class="text">
                        <h2>We Are Awesome Creative Agency 1</h2>
                        <hr>
                        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</p>
                        <button class="button">learn more</button>
                    </div>
                </div>
                <div class="card two" id="two-card">
                    <div class="text">
                        <h2>We Are Awesome Creative Agency 2</h2>
                        <hr>
                        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</p>
                        <button class="button">learn more</button>
                    </div>
                </div>
                <div class="card three" id="three-card">
                    <div class="text">
                        <h2>We Are Awesome Creative Agency 3</h2>
                        <hr>
                        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</p>
                        <button class="button">learn more</button>
                    </div>
                </div>
                <div class="card four" id="four-card">
                    <div class="text">
                        <h2>We Are Awesome Creative Agency 4</h2>
                        <hr>
                        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</p>
                        <button class="button">learn more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>