<section class="five-block">
    <div class="content">
        <h2>meet our amazing team</h2>
        <span class="lorem">Lorem ipsum dolor sit amet proin gravida nibh vel velit</span>
        <hr class="team-hr">
        <div class="team-row">
            <div class="team-col">
                <div class="parent-img"><div class="image"></div></div>
                <h4>Semf ucuk</h4>
                <span>seo & founder</span>
            </div>
            <div class="team-col">
                <div class="parent-img"><div class="image"></div></div>
                <h4>dik adalin</h4>
                <span>engineering</span>
            </div>
            <div class="team-col">
                <div class="parent-img"><div class="image"></div></div>
                <h4>jeng kol</h4>
                <span>designer</span>
            </div>
            <div class="team-col">
                <div class="parent-img"><div class="image"></div></div>
                <h4>pet romak</h4>
                <span>marketing</span>
            </div>
        </div>
        <div class="become">Become part of our dream team, let's join us !</div>
        <button class="button">we are hiring</button>
    </div>
</section>